* {
  margin: 0;
  padding: 0;
  font-family: Alata;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s;
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}
#container {
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#quote-box {
  padding: 20px;
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  text-align: center;
  background-color: white;
}

button {
  border: 3px;
  border-radius: 3px;
  outline: none;
  font-size: 0.85em;
  padding: 8px 18px 6px 18px;
  margin-top: 30px;
  opacity: 1;
  cursor: pointer;
}

#tweet-quote {
  float: left;
  padding: 0px;
  padding-top: 8px;
  text-align: center;
  font-size: 1.2em;
  margin-right: 5px;
  height: 30px;
  width: 40px;
}

#buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

#btns a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: #1da1f2;
}

.tweet {
  display: flex;
  width: 100%;
  justify-content: left;
  flex-direction: row;
}

#btns button {
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  background-color: tomato;
  color: white;
  transition: all 0.2s;
}

#btns button:hover {
  transform: scale(0.9);
}

#container {
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkedin {
  padding-top: 1em;
}

#linkedin-link {
  text-decoration: none;
}
